.row {
  margin-left: 20px;
  margin-bottom: 30px;
  color: white;
}

.row h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 10px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  transition: transform 0.3s;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.1);
}